# Core framework
kedro==1.0.0
kedro-datasets[pandas-csvdataset,pandas-parquetdataset]
kedro-datasets[tracking]
kedro-mlflow
kedro-viz==12.0.0


# Data manipulation & modeling
numpy>=1.24.0
pandas>=2.0.0
scikit-learn>=1.1.0
pyarrow>=10.0.0
mlflow

# Forecasting & statistical modeling
prophet>=1.0.0
optuna
statsmodels>=0.14.0

# Gradient boosting libraries
lightgbm>=3.3.0
xgboost>=1.6.0

# Data serialization
joblib>=1.2.0

# Data formats
pyarrow>=10.0.0

# Visualization
matplotlib>=3.6.0
seaborn>=0.12.0

# Testing
pytest>=7.2.0

plotly
kaleido
plotly[express]